* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #eb5757;
  --dark-color: #4f4f4f;
  --lighter-color: #f2f2f2;
  --primary-bg: #ffffff;
  --primary-text: #333333;
  --secondary-text: #828282;
  --light-text: #bdbdbd;
  --box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
